body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.like {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 50px;
    font-size: 50px;
}

.like2 {
    position: absolute;
    color: #c064db;
    
    left: 30px;
    font-size: 50px;
    top: 50px;
    z-index: 9999;
}

    .like2 i {
        opacity: 0;
        background: #c064db;
        color: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: text;
        color: transparent;
        transition: all 0.5s ease .1s;
    }
        
        i:hover {
            opacity: 1;
            color: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
        }
    
