body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.btn {
    background: transparent;
    border: none;
    margin: 87px;
    font-size: 20px;
    outline: none;
    color: grey;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: red;
}