body {
    margin: 0;
}

.logo {
    display: block;
    margin: auto;
}

.button {
    display: block;
    margin: auto;
    height: 40px;
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 60px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    background-color: #9747FF;
}