    $primary-color: #f6f6f6;
    $clr-btn: #9356DC;
    $second-color: #EAEAEA;
    $gradient-color: linear-gradient(190deg, #9356DC -14%, #FF79DA 89%);

body {
    margin: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.loader-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: aquamarine;
    transition: 2s;

    
    
    animation: loader .1s linear 2s 1;
    overflow: hidden;
}


@keyframes loader {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    95% {
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid aquamarine;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    margin: auto;
    margin-top: 20px;
    height: 40px;
}

.localisation {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: $second-color;
}



.reserver {
    background-color: $primary-color;
    
    h1 {
    margin: auto;
    padding-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    }
}

.reserver p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif, black;
    padding-bottom: 2em;
}   

.button {
    display: flex;
    margin: auto;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
    border-radius: 40px;
    background-color: #CD69DB;
    background: $gradient-color;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

h2 {
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    @media (min-width: 1024px) {
        margin-left: 150px;
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 50px;
    @media (min-width: 1024px) {
        flex-grow: 1;
        flex-direction: row;
    }
    
}

.group {
    display: flex;
    background-color: $primary-color;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    position: relative;
    
    i {
        color: #7E7E7E;
        padding-right: 10px;
        padding-left: 20px;
    }
    @media (min-width: 1024px) {
        margin: 30px;
        margin-left: 100px;
        margin-right: -60px;
    }
}

.degustez {
    i {
        color: #9356DC;
    }
}

span {
    position: absolute;
    left: -0.5em;
    border-radius: 50%;
    line-height: 1.5em;
    width: 20px;
    height: 20px;
    background-color: #9356DC;
    text-align: center;
    color: white;
}

.restaurants {
    background-color: $primary-color;
    height: 1300px;
    padding-top: 50px;
    .choix {
        margin-left: 20px;
        @media (min-width: 1024px) {
            margin-left: 160px;
        }
    }
    @media (min-width: 1024px) {
        height: fit-content;
    }
}

.cards {
    @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.restaurantcard {
    text-decoration: none;
    color: black;
}

.card {
    background-color: white;
    height: 280px;
    margin: 20px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    
    h3 {
        margin-left: 20px;
        @media (min-width: 1024px) {
            margin-top: 10px;
        }
    }
    p {
        margin-left: 20px;
    }
    @media (min-width: 1024px) {
        width: 500px;
        height: 280px;
    }
    .nouveau {
        background-color: aquamarine;
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 5px;
        border-radius: 5px;
        color: #008766;
    }

    .like {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 30px;
        bottom: 50px;
        font-size: 30px;
        @media (min-width: 1024px) {
            left: 450px;
        }
    }

    .like2 {
        position: absolute;
        
        width: 20px;
        height: 20px;
        right: 30px;
        bottom: 50px;
        font-size: 30px;
        z-index: 9999;
        @media (min-width: 1024px) {
            left: 450px;
        }
        i {
            opacity: 0;
            
            transition: all 0.5s ease .1s;
            &:hover {
                opacity: 1;
                background: $gradient-color;
            
            background-clip: text;
            color: transparent;
            }
        }
    }

    .card-text {
        position: relative;
        i {
            position: absolute;
            border: none;
            margin: 87px;
            font-size: 20px;
            background-color: aquamarine;
        }
    }
}

.card img {
    height: 190px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    @media (min-width: 1024px) {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.btn {
    background: transparent;
    border: none;
    margin: 87px;
    font-size: 20px;
    outline: none;
    color: grey;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: red;
}

footer {
    background-color: #353535;
    height: 300px;
    
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
    img {
        height: 150px;
    }
    
}


.footercontent {
    margin-left: 30px;
    
    }


#Logo {
    height: 20px;
    margin-top: 10px;
    color: white;
}

ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

// Page du premier restaurant La Palette Du Goût

$primary-color: #f6f6f6;
$clr-btn: #9356DC;

body {
margin: 0;
width: 100%;
}

.loader-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    transition: 2s, visibility 0.75s;
    z-index: 100;
    opacity: 0;

    animation: loader 1s forwards;
    

    @keyframes loader {
        0% {
            opacity: 1;
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}

.loader-container--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid aquamarine;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



header {
    display: flex;
    margin-top: 20px;
    a {
        position: absolute;
        margin-left: 20px;
        &:visited {
            color: black;
        }
    }
}

.fleche {
    padding-top: 20px;
}

.logo {
display: flex;
margin: auto;

height: 30px;
}

main {
    display: flex;
    flex-direction: column;
}

.background {
    @media (min-width: 1024px) {
        height: 700px;
        overflow: hidden;
    }
}

.backgroundimg {
    width: 100%;
    margin-top: 30px;
    max-height: 250px;
    object-fit: cover;
    @media (min-width: 1024px) {
        max-height: 400px;
    }
}

.container {
    margin-top: -50px;
    width: 100%;
    display: flex;
    background-color: $primary-color;
    
    border-radius: 40px 40px 0 0;
    flex-direction: column;
    @media (min-width: 1024px) {
        width: 1100px;
        display: flex;
        margin: auto;
        margin-top: -340px;
        height: auto;
    }
}

.titlelike {
    display: flex;
    justify-content: right;
    align-items: center;
}

    .like {
    position: absolute;
    padding-top: 30px;
    font-size: 30px;
    padding-right: 30px;
    @media (min-width: 1024px) {
        padding-right: 340px;
    }
    }

   

    .like2 {
        position: absolute;
        padding-top: 30px;
        padding-right: 30px;
        font-size: 30px;
        z-index: 9999;
        @media (min-width: 1024px) {
            padding-right: 340px;;
        }
        i {
            opacity: 0;
            
            transition: all 0.5s ease .1s;
            &:hover {
                opacity: 1;
                background: $gradient-color;
                background-clip: text;
            color: transparent;
            }
        }
    }
    
h1 {
    flex-grow: 1;
    padding-top: 30px;
    margin-left: 20px;
    font-family: 'Shrikhand', serif;
    @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
    }
}

.all {
    
    margin-left: 20px;
    
    @media (min-width: 1024px) {
        width: 700px;
        margin:auto;
        padding-top: 30px;
    }
}

.all::after {
    content: '';
    background: #99E2D0;
    width: 40px;
    height: 5px;
    margin-top: 5px;
    display: block;
}

.assiette {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    
    animation: cardprogres 1s;
    transform-origin: 0% 50%;
    h3 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-top: 15px;
        margin-bottom: -10px;
    }
    &:hover {
        .validatecheck {
            width: 3em;
        }
    }

    .entrees .assiette {
        animation: cardprogres 1s;
    transform-origin: 0% 50%;
    }

    .plats .assiette {
        animation: cardprogres 1s;
    transform-origin: 0% 50%;
    }

    .desserts .assiette {
        animation: cardprogres 1s;
    transform-origin: 0% 50%;
    }

    @keyframes cardprogres {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        80% {
            opacity: 1;
            transform: translateX(-10%);
        }
        100% {
            transform: translateY(1%);
        }
    }

    .assiettedetail {
        display: flex;
        padding-left: 15px;
        p {
            flex-grow: 1;
        }
        .prix {
            padding-right: 10px;
            font-weight: bold;
        
        }
    }

    .validatecheck {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: aquamarine;
        border-radius: 0 15px 15px 0;
        font-size: 25px;
        height: auto;
        margin-top: -28px;
        width: 0;
        transition: .5s ease .1s;
        i {
            overflow: hidden;
        }
        
    }
    @media (min-width: 1024px) {
        width: 700px;
        margin: auto;
    }
}



footer {
    background-color: #353535;
    height: 200px;
    
    
    @media (min-width: 1024px) {
        height: 150px;
        
        li {
            padding-right: 20px;
        }
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    i {
        padding-right: 10px;
    }
}

.footercontent {
    margin-left: 20px;
    flex-direction: column;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        ul {
            display: flex;
            flex-wrap: nowrap;
            @media (min-width: 1024px) {
                margin-top: 100px;
            }
        }
    }
    }

#Logo {
    height: 60px;
    margin-top: 10px;
    color: white;
    @media (min-width: 1024px) {
        margin-top: 60px;
    }
}

.entrees .assiette {
    
    animation-delay: 0s;
}
.plats .assiette {
    
    animation-delay: .5s;
}
.desserts .assiette {
    
    animation-delay: 1s;
}
 





