    $primary-color: #f6f6f6;
    $clr-btn: #9356DC;
    $second-color: #EAEAEA;

body {
    margin: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    margin: auto;
    margin-top: 20px;
    height: 40px;
}

.localisation {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: $second-color;
}



.reserver {
    background-color: $primary-color;
    height: 340px;
    h1 {
    margin: auto;
    padding-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    }
}

.reserver p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}   

.button {
    display: flex;
    margin: auto;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    background-color: #CD69DB;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

h2 {
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    @media (min-width: 1024px) {
        margin-left: 150px;
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 50px;
    @media (min-width: 1024px) {
        flex-direction: row;
    }
    
}

.group {
    display: flex;
    background-color: $primary-color;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    position: relative;
    i {
        color: #7E7E7E;
        padding-right: 10px;
        padding-left: 10px;
    }
    @media (min-width: 1024px) {
        margin: 30px;
        margin-left: 100px;
        
    }
}

.degustez {
    i {
        color: #9356DC;
    }
}

span {
    position: absolute;
    left: -0.5em;
    border-radius: 50%;
    line-height: 1.5em;
    width: 20px;
    height: 20px;
    background-color: #9356DC;
    text-align: center;
    color: white;
}

.restaurants {
    background-color: $primary-color;
    height: 1300px;
    padding-top: 50px;
    .choix {
        margin-left: 20px;
        @media (min-width: 1024px) {
            margin-left: 160px;
        }
    }
    @media (min-width: 1024px) {
        height: fit-content;
    }
}

.cards {
    @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.restaurantcard {
    text-decoration: none;
    color: black;
}

.card {
    background-color: white;
    height: 280px;
    margin: 20px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    h3 {
        margin-left: 20px;
        @media (min-width: 1024px) {
            margin-top: 10px;
        }
    }
    p {
        margin-left: 20px;
    }
    @media (min-width: 1024px) {
        width: 500px;
        height: 320px;
    }
    .nouveau {
        background-color: aquamarine;
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px;
    }
    .like {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 30px;
        bottom: 50px;
        
    }

    .like2 {
        position: absolute;
        color: #c064db;
        width: 20px;
        height: 20px;
        right: 30px;
        bottom: 50px;
        opacity: 0;
        background-clip: text;
        &:hover {
            opacity: 1;
        }
    }

    .card-text {
        position: relative;
        i {
            position: absolute;
            border: none;
            margin: 87px;
            font-size: 20px;
            background-color: aquamarine;
        }
    }
}

.card img {
    height: 190px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    @media (min-width: 1024px) {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
}

.btn {
    background: transparent;
    border: none;
    margin: 87px;
    font-size: 20px;
    outline: none;
    color: grey;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: red;
}

footer {
    background-color: #353535;
    height: 300px;
    
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
    img {
        height: 150px;
    }
    
}


.footercontent {
    margin-left: 30px;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
    }
    
}

#Logo {
    height: 20px;
    margin-top: 10px;
    color: white;
}

// Page du premier restaurant La Palette Du Goût

$primary-color: #f6f6f6;
$clr-btn: #9356DC;

body {
margin: 0;
width: 100%;
}

.loader-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    transition: 2s, visibility 0.75s;
}

.loader-container--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid aquamarine;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header {
    display: flex;
}

.fleche {
    padding-top: 20px;
}

.logo {
display: flex;
margin: auto;
margin-top: 20px;
height: 30px;
}

main {
    display: flex;
    flex-direction: column;
}

.background {
    @media (min-width: 1024px) {
        height: 700px;
        overflow: hidden;
    }
}

.backgroundimg {
    width: 100%;
    margin-top: 30px;
    max-height: 250px;
    object-fit: cover;
    @media (min-width: 1024px) {
        max-height: 400px;
    }
}

.container {
    margin-top: -50px;
    width: 100%;
    display: flex;
    background-color: $primary-color;
    
    border-radius: 40px 40px 0 0;
    flex-direction: column;
    @media (min-width: 1024px) {
        width: 1100px;
        display: flex;
        margin: auto;
        margin-top: -340px;
        height: auto;
    }
}

.titlelike {
    display: flex;
    i {
    position: absolute;
    top: 360px;
    right: 50px;
    font-size: 40px;
    @media (min-width: 1024px) {
        top: 460px;
        right: 350px;
    }
    }
}

h1 {
    padding-top: 30px;
    margin-left: 20px;
    font-family: 'Shrikhand', serif;
    @media (min-width: 1024px) {
        display: flex;
        margin: auto;
    }
}

.all {
    
    margin-left: 20px;
    
    @media (min-width: 1024px) {
        width: 700px;
        margin:auto;
        padding-top: 30px;
    }
}

.all::after {
    content: '';
    background: #99E2D0;
    width: 40px;
    height: 5px;
    margin-top: 5px;
    display: block;
}

.assiette {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    opacity: 1;
    animation: cardprogres 1s;
    transform-origin: 0% 50%;
    h3 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 15px;
    }
    &:hover {
        .validatecheck {
            width: 3em;
        }
    }

    @keyframes cardprogres {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scale(1);
        }
    }

    .assiettedetail {
        display: flex;
        padding-left: 15px;
        .prix {
            padding-left: 150px;
            font-weight: bold;
            @media (min-width: 1024px) {
                padding-left: 360px;
            }
        }
    }

    .validatecheck {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: aquamarine;
        border-radius: 0 15px 15px 0;
        font-size: 25px;
        height: auto;
        margin-top: -42px;
        width: 0;
        transition: .5s ease .1s;
        i {
            overflow: hidden;
        }
        
    }
    @media (min-width: 1024px) {
        width: 700px;
        margin: auto;
    }
}

.button {
    display: flex;
    margin: auto;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    background-color: $clr-btn;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}

footer {
    background-color: #353535;
    height: 200px;
    
    
    @media (min-width: 1024px) {
        height: 150px;
        
        li {
            padding-right: 20px;
        }
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    i {
        padding-right: 10px;
    }
}

.footercontent {
    margin-left: 20px;
    flex-direction: column;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        ul {
            display: flex;
            flex-wrap: nowrap;
            @media (min-width: 1024px) {
                margin-top: 100px;
            }
        }
    }
    }

#Logo {
    height: 60px;
    margin-top: 10px;
    color: white;
    @media (min-width: 1024px) {
        margin-top: 60px;
    }
}

.entrees {
    animation-delay: 0;
}
.plats {
    animation-delay: .5s;
}
.desserts {
    animation-delay: 1s;
}
 





