    $primary-color: #f6f6f6;
    $clr-btn: #9356DC;
    $second-color: #EAEAEA;

body {
    margin: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.logo {
    display: flex;
    margin: auto;
    margin-top: 20px;
    height: 40px;
}

.localisation {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: $second-color;
}



.reserver {
    background-color: $primary-color;
    height: 340px;
    h1 {
    margin: auto;
    padding-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    }
}

.reserver p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}   

.button {
    display: flex;
    margin: auto;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    background-color: #CD69DB;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

h2 {
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    @media (min-width: 1024px) {
        margin-left: 150px;
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 50px;
    @media (min-width: 1024px) {
        flex-direction: row;
    }
    
}

.group {
    display: flex;
    background-color: $primary-color;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    i {
        color: black;
    }
    @media (min-width: 1024px) {
        margin: 30px;
        margin-left: 100px;
        
    }
}

span {
    position: absolute;
    left: -0.5em;
    border-radius: 50%;
    line-height: 1.5em;
    width: 20px;
    height: 20px;
    background-color: #9356DC;
    text-align: center;
    color: white;
}

.restaurants {
    background-color: $primary-color;
    height: 1300px;
    padding-top: 50px;
    .choix {
        margin-left: 20px;
        @media (min-width: 1024px) {
            margin-left: 160px;
        }
    }
    @media (min-width: 1024px) {
        height: fit-content;
    }
}

.cards {
    @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.restaurantcard {
    text-decoration: none;
    color: black;
}

.card {
    background-color: white;
    height: 280px;
    margin: 20px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    h3 {
        margin-left: 20px;
        @media (min-width: 1024px) {
            margin-top: 10px;
        }
    }
    p {
        margin-left: 20px;
    }
    @media (min-width: 1024px) {
        width: 500px;
        height: 320px;
    }
    .nouveau {
        background-color: aquamarine;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .like {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 25px;
        bottom: 40px;
        &:hover {
            background-color: aqua;
        }
    }

    .card-text {
        position: relative;
        i {
            position: absolute;
            border: none;
            margin: 87px;
            font-size: 20px;
            background-color: aquamarine;
        }
    }
}

.card img {
    height: 190px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    @media (min-width: 1024px) {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
}

.btn {
    background: transparent;
    border: none;
    margin: 87px;
    font-size: 20px;
    outline: none;
    color: grey;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: red;
}

footer {
    background-color: #353535;
    height: 300px;
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
    img {
        height: 150px;
    }
}

.footercontent {
    margin-left: 30px;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
    }
    
}

#Logo {
    height: 20px;
    margin-top: 10px;
    color: white;
}

// Page du premier restaurant La Palette Du Goût

$primary-color: #f6f6f6;
$clr-btn: #9356DC;

body {
margin: 0;
width: 100%;
}

.logo {
display: flex;
margin: auto;
margin-top: 20px;
height: 30px;
}

.background {
    @media (min-width: 1024px) {
        height: 700px;
        overflow: hidden;
    }
}

.backgroundimg {
    width: 100%;
    margin-top: 30px;
    height: fit-content;
}

.container {
    display: flex;
    background-color: $primary-color;
    height: max-content;
    border-radius: 40px 40px 0 0;
    flex-direction: column;
    @media (min-width: 1024px) {
        width: 80%;
        margin: 0 auto;
        display: flex;
        
    }
}

h1 {
    padding-top: 30px;
    margin-left: 20px;
    font-family: 'Shrikhand', serif;
    @media (min-width: 1024px) {
        text-align: center;
    }
}

.all {
    text-decoration: underline;
    text-decoration-color: aquamarine;
    margin-left: 20px;
    @media (min-width: 1024px) {
        margin-left: 190px;
    }
}

.assiette {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    .card-text {
        display: flex;
        flex-wrap: wrap;
    }
    h3 {
        margin-left: 20px;
    }
    p {
        margin-left: 20px;
    }
    .check {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
    .validatecheck {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: aquamarine;
        font-size: 25px;
        height: 85px;
        width: 30%;
        transition: 1s;
        transform: scaleX(0);
        @keyframes validatecheck {
            0% {
                transform: scaleX(0);
            }
            100% {
                transform: scaleX(1);
            }
        }
    }
    @media (min-width: 1024px) {
        width: 700px;
        margin: auto;
    }
}

.button {
    display: flex;
    margin: auto;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    background-color: $clr-btn;
}

footer {
    background-color: #353535;
    height: 200px;
    @media (min-width: 1024px) {
        height: 150px;
        li {
            padding-right: 20px;
        }
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    i {
        padding-right: 10px;
    }
}

.footercontent {
    margin-left: 20px;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        ul {
            display: flex;
            flex-wrap: nowrap;
            @media (min-width: 1024px) {
                margin-top: 100px;
            }
        }
    }
    }

#Logo {
    height: 60px;
    margin-top: 10px;
    color: white;
    @media (min-width: 1024px) {
        margin-top: 60px;
    }
}
 





